/* 전체 레이아웃 */
.interview-page-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 0 0px;
  position: relative;
}

/* 직무 상단 배너 */
.interview-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  background-size: cover;
  border-radius: 4px;
}

/* 직무명 텍스트 */
.job-title-banner {
  margin-top: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: 800;
  color: white;
  padding-top: 25px;
}

/* 전체 테두리 */
.interview-card-wrapper {
  margin-top: 45px;
  background: white;
  border: 2px solid #d8d8d8;
  border-radius: 10px;
  padding: 10px 20px;
}

/* 질문 text */
.question-header {
  padding-bottom: 12px;
  font-size: 19px;
  font-weight: 700;
  background: white;
}

/* 영상 + 피드백 */
.main-section {
  display: flex;
  gap: 20px;
  height: 360px;
}

/* 영상 */
.video-box {
  width: 68%;
  border-radius: 10px;
  box-sizing: border-box;
}

.question-video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}

/* 피드백 영역 */
.feedback-box {
  width: 32%;
  padding: 16px;
  background: white;
  border-radius: 10px;
  border: 2px solid #e6e6e6;
}

.feedback-title {
  font-size: 16px;
  font-weight: 700;
  color: #cc185d;
  background-color: #fdf2f8;
  padding: 5px 12px;
  display: inline-block;
  border-radius: 8px;
  width: fit-content;
  margin-bottom: 12px;
}

.feedback-list {
  list-style: disc;
  padding-left: 18px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

/* 하단 영상 목록 버튼 */
.video-list-scroll {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

/* 버튼 공통 */
.video-btn,
.summary-btn {
  height: 90px;
  border-radius: 10px;
  border: 2px solid #d1d1d1;
  background: #ececec;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: 0.2s;
}

/* 면접 질문 버튼 - 선택 안됨 */
.video-btn {
  position: relative;
  background: repeating-conic-gradient(#eee 0% 25%, #ddd 0% 50%) 50% / 35px 35px;
  color: #333;
  width: 250px;
}

.video-btn.active {
  background: #0a1a40;
  border-color: #0a1a40;
  color: white;
}

.summary-btn {
  max-width: 220px;
  background: #0a1a40;
  color: white;
  border-color: #0a1a40;
  width: 140px;
  font-weight: 700;
  font-size: 20px;
}
