/* 전체 레이아웃 */
.interview-page-container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  height: calc(100vh - 120px); /* 화면 높이에 맞추기 */
  font-family: 'Noto Sans KR';
}

/* 직무 상단 배너 */
.interview-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  background-size: cover;
  border-radius: 7px;
}

/* 직무명 텍스트 */
.job-title-banner {
  text-align: center;
  font-size: 34px;
  font-weight: 800;
  color: white;
  padding-top: 20px;
}

/* 전체 테두리 */
.interview-card-wrapper {
  margin-top: 35px;
  background: white;
  border: 2px solid #0a193d;
  border-radius: 7px;
  padding: 10px 20px;

  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

/* 질문 text */
.question-header {
  height: 65px;
  display: flex;
  font-size: 19px;
  font-weight: 700;
  background: white;
  line-height: 1.5;
}

/* 영상 + 피드백 */
.main-section {
  display: flex;
  gap: 16px;
  height: calc(100% - 220px); /* 상단 제목 / 하단 버튼 높이를 제외한 나머지를 가변으로 */
  min-height: 260px;
}

/* 영상 */
.video-box {
  width: 63%;
  max-width: 560px;
  border-radius: 10px;
}

.question-video {
  width: 85%;
  max-width: 400px;
  height: 100%;
  border: 2px solid #bbbbbb;
  border-radius: 10px;
  object-fit: cover;
}

/* 피드백 영역 */
.feedback-box {
  width: 50%;
  max-width: 400px;
  padding: 16px;
  background: white;
  border-radius: 10px;
  border: 2px solid #bbbbbb;
  font-weight: 700;
}

.feedback-title {
  font-size: 16px;
  font-weight: 700;
  color: #cc185d;
  background-color: #fdf2f8;
  padding: 5px 12px;
  display: inline-block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.feedback-list {
  list-style: disc;
  padding-left: 18px;
  font-size: 17px;
  line-height: 1.6;
  color: #333;
}

/* 하단 영상 목록 버튼 */
.video-list-scroll {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: space-between;

  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

/* 버튼 공통 */
.video-btn,
.summary-btn {
  height: 85px;
  border-radius: 10px;
  border: 2px solid #d1d1d1;
  background: #ececec;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  transition: 0.2s;
}

/* 면접 질문 버튼 - 선택 안됨 */
.video-btn {
  position: relative;
  background: repeating-conic-gradient(#eee 0% 25%, #ddd 0% 50%) 50% / 35px 35px;
  color: #333;
  width: 250px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 8px 12px;
  text-align: right;
}

.video-btn.active {
  background: #0a1a40;
  border-color: #0a1a40;
  color: white;
}

.summary-btn {
  max-width: 200px;
  height: 85px;
  background: #0a1a40;
  color: white;
  border-color: #0a1a40;
  width: 130px;
  font-weight: 700;
  font-size: 18px;
}
