.navbar-light {
  width: 100%;
  padding: 18px 40px;

  background: white !important;
  border-bottom: 1px solid #e0e0e0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.navbar-light-logo {
  height: 40px;
  object-fit: contain;
}

.navbar-light-logout {
  background: #0a1a40;
  color: white;
  padding: 10px 22px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.navbar-light-logout:hover {
  background-color: #11285e;
}
