/* 전체 컨테이너 */
.home-container {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 세로는 자유 */
}

/* 제목 + 카드 전체를 감싸는 중앙 래퍼 */
.home-content {
  width: 100%;
  max-width: 1100px; /* 카드 3개가 들어갈 적당한 폭 */
}

/* 제목 */
.home-title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 35px;
  color: #0a0a19;
  margin-left: 0;
}

/* 가운데 전체 카드 영역 래퍼 */
.interview-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 카드 리스트 컨테이너 (가로 정렬) */
.interview-list {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  width: 80%; /* ← 가운데 영역 폭 조절 (핵심) */
  max-width: 1000px;
  margin-left: 0;
}

/* 개별 인터뷰 카드 */
.interview-card {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  color: white;
  padding: 18px 20px;
  background-image: url('../../assets/home_background.png');

  background-position: center;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 0;
}

/* 카드 내용 텍스트 */
.interview-card h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
  padding-left: 5px;
}

.interview-card-time {
  font-size: 17px;
  opacity: 0.9;
  padding-left: 10px;
}

/* 조회하기 버튼 */
.interview-button {
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  color: #f5f5f5; /* 텍스트 색 */
  background: rgba(245, 245, 245, 0.15); /* F5F5F5 + 15% */
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2), /* 외부 그림자 */ inset 0 0 10px rgba(255, 255, 255, 0.05); /* 내부 하이라이트 */
  cursor: pointer;
}

/* 새 면접 만들기 카드 */
.new-card {
  width: 340px;
  height: 236px;
  border: 3.5px dashed #3a3a3a;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #0a0a19;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.2);
  margin: 20px 0;
}

.new-card:hover {
  background: rgba(255, 255, 255, 0.3);
}

.new-plus {
  font-size: 38px;
  font-weight: 700;
  padding-top: 10px;
}

.plus_text {
  font-size: 20px;
  margin-top: 15px;
}

.plus-icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
